<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <script>
        $(document).ready(function(){
            $('button').click(function(){
                $('ul > li:eq(0)').text('click');
                str = $('ul > li:eq(1)').text();
                $('h2').text(str)
                // $('ul > li:even').css('color','white');
                $('ul > li:not(li:eq(1))').css('color','red');
            });
        });

    </script>
</head>
<body>
    <h1>jq02</h1>
    <h2></h2>
    <button>Click</button>
    <ul>
        <li>Menu1</li>
        <li>Menu2</li>
        <li>Menu3</li>
        <li>Menu4</li>
        <li>Menu5</li>
    </ul>

</body>
</html>