<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Form Test</h1>
  <form action="register">
    ID<input type="text" name="id"><br>
    PWD<input type="password" name="pwd"><br>
    NAME<input type="text" name="name"><br>
    GENDER<br>
    <input type="radio" value="f" name="gender">FEMALE<br>
    <input type="radio" value="m" name="gender">MALE<br>
    <input type="radio" value="a" name="gender">AJE<br>
    HOBBY<br>
    <input type="checkbox" value="h1" name="hobby">TRAIN<br>
    <input type="checkbox" value="h2" name="hobby">EAT<br>
    <input type="checkbox" value="h3" name="hobby">BOOK<br>
    CAR<br>
    <select name="car">
        <option value="k1">K1</option>
        <option value="k2">K2</option>
        <option value="k3">K3</option>
    </select><br>
    RESUME<br>
    <textarea cols="50" rows="10" name="resume"></textarea><br>
    COLOR<br>
    <input type="color" name="color"><br>
    NUMBER<br>
    <input type="number" name="num"><br>
    DATE<br>
    <input type="date" name="date"><br>
    RANGE<br>
    <input type="range" name="ran" max="100"><br>

    <input type="submit" value="REGISTER">
    <input type="reset" value="RESET">
  </form>
</body>
</html>

