<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="">Click1</a>
    <a href="">Click2</a>
    <sapn>Span</sapn>
    <img width="30px" src="{% static 'img/img1.jpg' %}">
    <img width="30px" src="{% static 'img/img1.jpg' %}">
    <img width="30px" src="{% static 'img/img1.jpg' %}">

    <h1>Header1</h1><sapn>Span</sapn><sapn>Span</sapn>
    <h2>Header2</h2>
    <h3>Header3</h3>
    <p>Paragraph.......
          Paragraph.......

       Paragraph.......
    </p>
</body>
</html>